{% extends 'layout.html' %}

{% load static %}
{% block content %}
<h1 class="text-black d-flex justify-content-center">Blog</h1>

<div class="container">
    <div class="row">
        {% for publicacion in publicaciones %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{publicacion.imagen.url}}" class="card-img-top" alt="{{publicacion.title}}">
                    <div class="card-body color-card">
                        <h5 class="card-title">{{publicacion.title}}</h5>
                        <p class="card-text">{{publicacion.descripcion|truncatechars:100}}</p>
                        
                        <p class="card-text"><small class="text-dark">{{publicacion.fecha|date:"M d Y"}}</small></p>
                        <a href="{% url 'blog:publicacion_detail' publicacion.id %}" class="btn btn-dark">Leer más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}